label {
    width : 240px;
    display : inline-block;
} 
button{
    background-color: plum;
    padding: 15px 28px;
    font-size: 16px;
}
body{
    background-color:plum ;
    margin-left: 650px;
    color:white;
} 